body {
    background-image: url("https://images4.alphacoders.com/909/909185.jpg");
    background-blend-mode: lighten;
    background-color:rgba(255,0,0,0.5);
    }
.stones {
    float: left;
    margin-top: 30px;
}
.row {
    color: white;
}
.showRandomNumber {
    padding-left: 20px;
    padding-right: 20px;
}
.rowThree {
    display: inline-flex;
}
.wins-losses {
    margin-left: 150px;
    margin-top: 15px;
}
.totalScore {
    display: inline-block;
    margin-top: 150px;
    margin-left: -700px;
}
.actualRandomNumber {
    margin-top: 45px;
    margin-left: -100px;
}
